:root {
  color: var(--color-text);
  background-color: var(--color-back-ground);

  --color-main: #985ce7;
  --color-danger: #e07575;
  --color-success: #7ee075;
  --color-proceeding: #d7e075;

  --color-text-white: #ffffff;

  /* light */
  --color-back-ground: #ffffff;

  --color-text: #191919;
  --color-text-reverse: #ffffff;
}
:root[data-theme='dark'] {
  --color-back-ground: #191919;

  --color-text: #ffffff;
  --color-text-reverse: #191919;

  --color-main: #572f8a;
  --color-danger: #823a3a;
  --color-success: #30702a;
  --color-proceeding: #7f8634;
}
* {
  transition:
    background-color 0.3s,
    filter 0.3s,
    border 0.3s;
}
